@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(87, 123, 251, 1) 0%, rgba(173, 107, 200, 1) 50%, rgba(236, 113, 144, 1) 100%);
    height: 95vh;
    background-attachment: fixed;
}

/* ===== HEADER ===== */


.logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    gap: 10px;
    padding: 30px;
}

.hamburger {
    width: 30px;
    cursor: pointer;
    display: none;
}

.close {
    display: none;
    cursor: pointer;
    width: 30px;
}

/* ===== MAIN SECTIONS ===== */
.container {
    width: 100%;
    height: 95%;
}

.left {
    width: 25%;
    height: 92%;
    background-color: #00000099;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin: 25px;
}

.right {
    width: 75%;
    height: 92%;
    background-color: #00000099;
    color: white;
    border-radius: 10px;
    margin: 25px;

}

.flex {
    display: flex;
}

.library {
    margin-top: 10px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
}

.foldername {
    margin: 10px 0;
    padding-left: 5px;
}

.foldername h3 {
    font-size: 16px;
    font-weight: 600;
}

.songlist {
    max-height: 73vh;
    overflow-y: auto;
    margin-top: 10px;
}

.songlist ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 8px 5px;
    background-color: #1f1f1f;
    transition: all 0.2s ease;
}

.songlist ul li:hover {
    background-color: #2a2a2a;
}

.info {
    display: flex;
    width: 70%;
}

.playlist {
    padding: 20px;
}

.playlist .name {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    gap: 20px;
}



.cardContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
}

.card {
    width: 200px;
    height: 250px;
    padding: 15px;
    border-radius: 10px;
    background-color: #222;
    text-align: center;
    transition: background 0.3s;
    position: relative;
}

.card:hover {
    background-color: #333;
}

.card:hover .play {
    opacity: 1;
    bottom: 50px;
    transition: all 0.2s ease-in;
    cursor: pointer;

}

.card img {
    width: 75%;
    padding-bottom: 50px;
}

.play {
    position: absolute;
    bottom: 25px;
    right: 35%;
    opacity: 0;
}

/* ===== PLAYBAR ===== */
.playbar {
    position: fixed;
    bottom: 8px;
    left: 25%;
    width: 50%;
    height: 12%;
    background-color: #00000099;
    color: white;
    border-radius: 15px;
    border: 2px solid silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.timeline {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.seekbar {
    width: 75%;
    height: 8px;
    background-color: #ffffff4d;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(87, 123, 251, 1);
    position: absolute;
    top: -3px;
    left: 0%;
    transition: left 0.15s linear;
}

.trail {
    width: 0%;
    height: 8px;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(270deg, rgba(87, 123, 251, 1) 0%, rgba(173, 107, 200, 1) 50%, rgba(236, 113, 144, 1) 100%);
    transition: width 0.15s linear;
    z-index: 1;
}

.infobar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-top: 14px;
}

.songinfo {
    width: 40%;
    height: 25px;
}

.songbutton {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.volume {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.range {
    accent-color: #000000;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 25px;
        background-color: #1f1f1f;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .left {
        position: absolute;
        left: -100%;
        top: 70px;
        width: 70vw;
        background-color: #000;
        z-index: 20;
    }

    .right {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: block;
    }

    .playbar {
        width: 100%;
    }
}